    .header{
        color: rgb(229, 194, 194);
    }
    p{
        color:whitesmoke;
    }
    body{
        background-color:black;
    }
    button{
        background-color:rgb(92, 29, 240);
        color:white;
        
    }